<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline pad-70">
            <span> Rafael Lourenço </span>
            <h1> O DEV que você busca em seu time! </h1>
        </div>
        <img priority ngSrc="assets/principal.png"  width="669" height="536"/>
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                100% das <br> empresas
            </h2>
        </div>
        <p>
            precisam de um <b> profissional </b> de TI como eu!
        </p>
    </section>
    <section class="cta">
        <btn-primary btn-text="fale comigo"></btn-primary>
    </section>

    <newsletter-form></newsletter-form>
</main>